@charset "UTF-8";
/**
 * @param {Direction} $direction - `top`, `right`, `bottom` or `left`
 * When class added, fadeIn with slide from direction
 */
@font-face {
  font-family: "Hind";
  src: url("../webfonts/Hind-Light.woff2") format("woff2"), url("../webfonts/Hind-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("../webfonts/Hind-Regular.woff2") format("woff2"), url("../webfonts/Hind-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("../webfonts/Hind-Medium.woff2") format("woff2"), url("../webfonts/Hind-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("../webfonts/Hind-SemiBold.woff2") format("woff2"), url("../webfonts/Hind-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("../webfonts/Hind-Bold.woff2") format("woff2"), url("../webfonts/Hind-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* COLORS */
/* TRANSITIONS */
.homepage #first_sec .header {
  margin-top: 65px;
  text-align: center;
}
.homepage #first_sec .header h1 {
  margin: 0;
  line-height: 31px;
}
.homepage #first_sec .header p {
  margin: 30px 0 0 0;
  line-height: 24px;
}
.homepage #first_sec .gear {
  display: block;
  position: relative;
  height: 880px;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.homepage #first_sec .gear .gear-img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 140px;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .gear-img {
    margin-top: 50px;
    position: relative;
  }
}
@media (max-width: 767px) {
  .homepage #first_sec .gear .gear-img {
    max-width: 400px;
  }
}
@media (max-width: 440px) {
  .homepage #first_sec .gear .gear-img {
    max-width: 250px;
  }
}
.homepage #first_sec .gear .gear-txt-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.4rem;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .gear-txt-wrap {
    bottom: unset;
    height: 700px;
  }
}
@media (max-width: 767px) {
  .homepage #first_sec .gear .gear-txt-wrap {
    height: 510px;
  }
}
@media (max-width: 440px) {
  .homepage #first_sec .gear .gear-txt-wrap {
    height: 355px;
  }
}
@media (max-width: 440px) {
  .homepage #first_sec .gear .gear-txt-wrap p {
    font-size: 1.2rem;
  }
}
.homepage #first_sec .gear .elements-wrap {
  position: absolute;
  top: 45.5%;
  left: 46.5%;
  width: auto;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .elements-wrap {
    position: relative;
    top: unset;
    left: unset;
    margin-top: 50px;
  }
}
.homepage #first_sec .gear .elements-wrap .elements-center {
  position: relative;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .elements-wrap .elements-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
.homepage #first_sec .gear .elements-wrap .elements-center .element {
  position: absolute;
  width: 430px;
  display: flex;
  align-items: center;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .elements-wrap .elements-center .element {
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
  }
  .homepage #first_sec .gear .elements-wrap .elements-center .element:nth-child(even) {
    flex-direction: row-reverse;
  }
  .homepage #first_sec .gear .elements-wrap .elements-center .element:nth-child(even) .element-desc {
    margin-left: 0;
    margin-right: 20px;
  }
}
.homepage #first_sec .gear .elements-wrap .elements-center .element .circle {
  background: #f4f7f9;
  border: 3px solid #d4dbe0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
}
.homepage #first_sec .gear .elements-wrap .elements-center .element .circle:hover {
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}
.homepage #first_sec .gear .elements-wrap .elements-center .element .circle img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.homepage #first_sec .gear .elements-wrap .elements-center .element .element-desc {
  margin-left: 20px;
  font-weight: 600;
  position: absolute;
}
@media (max-width: 1380px) {
  .homepage #first_sec .gear .elements-wrap .elements-center .element .element-desc {
    position: relative;
  }
}
.homepage #second_sec {
  position: relative;
  margin-top: 150px;
}
@media (max-width: 1380px) {
  .homepage #second_sec {
    margin-top: 50px;
  }
}
.homepage #second_sec .background {
  width: 100%;
  height: 640px;
  background-color: #d4dbe0;
}
@media (max-width: 1024px) {
  .homepage #second_sec .background {
    height: 610px;
  }
}
@media (max-width: 767px) {
  .homepage #second_sec .background {
    height: 850px;
  }
}
.homepage #second_sec .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepage #second_sec .form {
  position: absolute;
  top: 0;
  max-width: 1200px;
  width: 100%;
}
.homepage #second_sec .form .text-box {
  text-align: center;
}
.homepage #second_sec .form .text-box h1 {
  margin: 60px 0 50px 0;
  color: #ffffff;
}
.homepage #second_sec .form .text-box p {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 50px;
}
.homepage #second_sec .form .text-box p a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.homepage #second_sec .form .text-box p a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.homepage #second_sec .form #wpcf7-f34-o1 {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form {
    display: flex;
  }
}
@media (max-width: 767px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form {
    flex-direction: column;
  }
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper {
    max-width: 50%;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper {
    max-width: unset;
  }
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col {
  max-width: 33%;
}
@media (max-width: 1024px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p {
  margin: 0;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p label input {
  margin-bottom: 20px;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p label:last-child input {
  margin-bottom: 0;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p label input {
  max-width: 295px;
}
@media (max-width: 991px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p label input {
    max-width: 220px;
  }
}
@media (max-width: 1024px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-form .form-wrapper .col p label input {
    width: 100%;
    max-width: unset;
  }
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .col p {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size textarea {
  width: 100%;
  font-family: "Hind", sans-serif;
  resize: none;
  margin-top: 20px;
  max-height: 125px;
}
@media (max-width: 1024px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .full-size textarea {
    margin-top: 0;
    max-height: 210px;
  }
}
@media (max-width: 767px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .full-size textarea {
    margin-top: 20px;
    max-height: 125px;
  }
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .wpcf7-form-control-wrap {
  color: #ffffff;
  margin: 30px auto;
  font-weight: 500;
  line-height: 17px;
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .wpcf7-form-control-wrap a {
  color: #3293ce;
  font-weight: 600;
  text-decoration: none;
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .wpcf7-form-control-wrap a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .wpcf7-submit {
  background-color: #3293ce;
  width: 165px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.homepage #second_sec .form #wpcf7-f34-o1 .full-size .wpcf7-submit:disabled {
  opacity: 0.6;
}
.homepage #second_sec .form #wpcf7-f34-o1 input, .homepage #second_sec .form #wpcf7-f34-o1 textarea {
  padding: 15px;
  color: #565e66;
  border-radius: 5px;
  outline: none;
  border: none;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-not-valid-tip {
  height: 20px;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-response-output {
  color: #ff0000;
  border: none;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item label + label {
  margin-top: 1em;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item label--disabled {
  color: var(--label-disabled);
  cursor: not-allowed;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ffffff;
  margin: 0;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item input[type=checkbox]::before {
  content: "✓";
  width: 15px;
  height: 15px;
  color: #3293ce;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-list-item input[type=checkbox]:checked::before {
  transform: scale(1.5);
}
.homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-select {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  background: #ffffff;
  color: #565e66;
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 295px;
}
@media (max-width: 991px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-select {
    max-width: 220px;
  }
}
@media (max-width: 1024px) {
  .homepage #second_sec .form #wpcf7-f34-o1 .wpcf7-select {
    width: 100%;
    max-width: unset;
  }
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 0;
}
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}
html ul {
  margin: 0;
}
html h1 {
  font-size: 3.6rem;
  font-weight: 600;
}
html h2 {
  font-size: 3.4rem;
}
html .scroll-with-offset {
  padding-top: 100px;
  margin-bottom: -100px;
}
@media (max-width: 991px) {
  html .scroll-with-offset {
    padding-top: 0;
    margin-bottom: 0;
  }
}
html .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
html .col, html .col-1, html .col-2, html .col-3, html .col-4, html .col-5, html .col-6, html .col-7, html .col-8, html .col-9, html .col-10, html .col-11, html .col-12, html .col-auto, html .col-lg, html .col-lg-1, html .col-lg-2, html .col-lg-3, html .col-lg-4, html .col-lg-5, html .col-lg-6, html .col-lg-7, html .col-lg-8, html .col-lg-9, html .col-lg-10, html .col-lg-11, html .col-lg-12, html .col-lg-auto, html .col-md, html .col-md-1, html .col-md-2, html .col-md-3, html .col-md-4, html .col-md-5, html .col-md-6, html .col-md-7, html .col-md-8, html .col-md-9, html .col-md-10, html .col-md-11, html .col-md-12, html .col-md-auto, html .col-sm, html .col-sm-1, html .col-sm-2, html .col-sm-3, html .col-sm-4, html .col-sm-5, html .col-sm-6, html .col-sm-7, html .col-sm-8, html .col-sm-9, html .col-sm-10, html .col-sm-11, html .col-sm-12, html .col-sm-auto, html .col-xl, html .col-xl-1, html .col-xl-2, html .col-xl-3, html .col-xl-4, html .col-xl-5, html .col-xl-6, html .col-xl-7, html .col-xl-8, html .col-xl-9, html .col-xl-10, html .col-xl-11, html .col-xl-12, html .col-xl-auto, html .col-xxl, html .col-xxl-1, html .col-xxl-2, html .col-xxl-3, html .col-xxl-4, html .col-xxl-5, html .col-xxl-6, html .col-xxl-7, html .col-xxl-8, html .col-xxl-9, html .col-xxl-10, html .col-xxl-11, html .col-xxl-12, html .col-xxl-auto, html .col-xxxl, html .col-xxxl-1, html .col-xxxl-2, html .col-xxxl-3, html .col-xxxl-4, html .col-xxxl-5, html .col-xxxl-6, html .col-xxxl-7, html .col-xxxl-8, html .col-xxxl-9, html .col-xxxl-10, html .col-xxxl-11, html .col-xxxl-12, html .col-xxxl-auto {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
html .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
html .col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
html .col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
@media (min-width: 768px) {
  html .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  html .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  html .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  html .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 991px) {
  html .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  html .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  html .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Hind", sans-serif;
  margin: 0;
}/*# sourceMappingURL=main.css.map */