.homepage {
    #first_sec {

        .header {
            margin-top: 65px;
            text-align: center;
            h1 {
                margin: 0;
                line-height: 31px;
            }
            p {
                margin: 30px 0 0 0 ;
                line-height: 24px;
            }
        }

        .gear {
            display: block;
            position: relative;
            height: 880px;
            @media (max-width: 1380px) {
                display: flex;
                flex-direction: column;
                height: auto;
            }
            .gear-img {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                margin-top: 140px;
                @media (max-width: 1380px) {
                    margin-top: 50px;
                    position: relative;
                }
                @include mobile {
                    max-width: 400px;
                }
                @media (max-width: 440px) {
                    max-width: 250px;
                }
            }
            
            .gear-txt-wrap {    
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: $white;
                font-size: 1.4rem;
                @media (max-width: 1380px) {
                    bottom: unset;
                    height: 700px;
                }
                @include mobile {
                    height: 510px;
                }
                @media (max-width: 440px) {
                    height: 355px
                }
                p {
                @media (max-width: 440px) {
                    font-size: 1.2rem;
                }
                }
            }

            .elements-wrap {
                position: absolute;
                top: 45.5%;
                left: 46.5%;
                width: auto;
                @media (max-width: 1380px) {
                    position: relative;
                    top: unset;
                    left: unset;
                    margin-top: 50px;
                }
                .elements-center {
                    position: relative;
                    @media (max-width: 1380px) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                    }
                    .element {
                        position: absolute;
                        width: 430px;
                        display: flex;
                        align-items: center;
                        @media (max-width: 1380px) {
                            position: relative;
                            margin-bottom: 20px;
                            justify-content: center;
                            &:nth-child(even) {
                                flex-direction: row-reverse;
                                .element-desc {
                                    margin-left: 0;
                                    margin-right: 20px;
                                }
                            }
                        }
                        .circle {
                            background: $gray-light;
                            border: 3px solid $gray;
                            border-radius: 50%;
                            width: 80px;
                            height: 80px;
                            position: relative;
                            &:hover {
                                scale: 1.2;
                                transition: $trans-medium;
                            }
                            img {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }
                        }
                        .element-desc {
                            margin-left: 20px;
                            font-weight: 600;
                            position: absolute;
                            @media (max-width: 1380px) {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }

    #second_sec {
        position: relative;
        margin-top: 150px;
        @media (max-width: 1380px) {
            margin-top: 50px;
        }
        .background {
            width: 100%;
            height: 640px;
            background-color: $gray;
            @include tablet {
                height: 610px
            }
            @include mobile {
                height: 850px
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
                .form {
                    position: absolute;
                    top: 0;
                    max-width: 1200px;
                    width: 100%;

                    .text-box {
                        text-align: center;
                        h1 {
                            margin: 60px 0 50px 0;
                            color: $white;
                        }
                        p {
                            font-size: 1.8rem;
                            color: $white;
                            margin-bottom: 50px;
                            a {
                                color: $white;
                                font-weight: 600;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                    text-underline-offset: 5px;
                                }
                            }
                        }
                    }

                    #wpcf7-f34-o1 {
                        position: relative;
                        max-width: 960px;
                        margin: 0 auto;

                        .wpcf7-form {
                            @include tablet-middle {
                                display: flex;
                            }
                            @include mobile {
                                flex-direction: column;
                            }
                            .form-wrapper {
                                display: flex;
                                @include tablet-middle {
                                    max-width: 50%;
                                    flex-direction: column;
                                }
                                @include mobile {
                                    max-width: unset;
                                }
                                .col {
                                    max-width: 33%;
                                    @include tablet {
                                        max-width: 100%;
                                        margin-bottom: 20px;
                                    }
                                    p{
                                        margin: 0;
                                        label {
                                            input {
                                                margin-bottom: 20px;
                                            }
                                            &:last-child {
                                                input {
                                                    margin-bottom: 0;
                                                }
                                            }
                                            input {
                                                max-width: 295px;
                                                @include tablet-middle {
                                                    max-width: 220px;
                                                }
                                                @include tablet {
                                                    width: 100%;
                                                    max-width: unset;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .full-size {
                            .col {
                                p {
                                    margin: 0;
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                            textarea {
                                width: 100%;
                                font-family: $font-brand;
                                resize: none;
                                margin-top: 20px;
                                max-height: 125px;
                                @include tablet {
                                    margin-top: 0;
                                    max-height: 210px;
                                }
                                @include mobile {
                                    margin-top: 20px;
                                    max-height: 125px;
                                }
                            }

                            .wpcf7-form-control-wrap {
                                color: $white;
                                margin: 30px auto;
                                font-weight: 500;
                                line-height: 17px;
                                a {
                                    color: $light-blue;
                                    font-weight: 600;
                                    text-decoration: none;
                                    &:hover {
                                        text-decoration: underline;
                                        text-underline-offset: 5px;
                                    }
                                }
                            }

                            .wpcf7-submit {
                                background-color: $light-blue;
                                width: 165px;
                                margin: 0 auto;
                                color: $white;
                                text-transform: uppercase;
                                font-weight: 700;
                                &:disabled {
                                    opacity: 0.6;
                                }
                            }
                        }
                        input, textarea {
                            padding: 15px;
                            color: $form-color;
                            border-radius: 5px;
                            outline: none;
                            border: none;
                        }

                        .wpcf7-not-valid-tip {
                            height: 20px;
                        }

                        .wpcf7-response-output {
                            color: $brand;
                            border: none;
                        }

                        .wpcf7-list-item {
                            label {
                                display: flex;
                                gap: 0.5em;
                                align-items: center;
                              }
                              
                              label + label {
                                margin-top: 1em;
                              }
                              
                              label--disabled {
                                color: var(--label-disabled);
                                cursor: not-allowed;
                              }
                              
                              input[type="checkbox"] {
                                -webkit-appearance: none;
                                appearance: none;
                                background-color: $white;
                                margin: 0;
                                width: 15px;
                                height: 15px;
                                padding: 10px;
                                border-radius: 5px;
                                display: grid;
                                place-content: center;
                              }
                              
                              input[type="checkbox"]::before {
                                content: "\2713";
                                width: 15px;
                                height: 15px;
                                color: $light-blue;
                                transform: scale(0);
                                transform-origin: bottom left;
                                transition: 120ms transform ease-in-out;
                              }
                              
                              input[type="checkbox"]:checked::before {
                                transform: scale(1.5);
                              }
                        }

                        .wpcf7-select {
                            font-size: 1.6rem;
                            font-family: $font-brand;
                            background: $white;
                            color: $form-color;
                            width: 100%;
                            padding: 9px;
                            border-radius: 5px;
                            border: none;
                            outline: none;
                            width: 295px;
                            @include tablet-middle {
                                max-width: 220px;
                            }
                            @include tablet {
                                width: 100%;
                                max-width: unset;
                            }
                        }
                    }
                }
    }
}