@font-face {
	font-family: 'Hind';
	src: url('../webfonts/Hind-Light.woff2') format('woff2'),
	url('../webfonts/Hind-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('../webfonts/Hind-Regular.woff2') format('woff2'),
	url('../webfonts/Hind-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('../webfonts/Hind-Medium.woff2') format('woff2'),
	url('../webfonts/Hind-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('../webfonts/Hind-SemiBold.woff2') format('woff2'),
	url('../webfonts/Hind-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('../webfonts/Hind-Bold.woff2') format('woff2'),
	url('../webfonts/Hind-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}