/* COLORS */
$text-color: #000000;
$black: #000000;
$white: #ffffff;
$brand: #ff0000;
$brand-dark: #A60000;
$default: $white;
$main-color: #F7D9D2;
$second-color: #ECECEC;
$third-color: #E3E3E3;

$light-blue: #3293ce;

$background-dark: #d8d0cd;



$gray-light: #f4f7f9;
$gray-form: #d0d0d0;
$gray: #d4dbe0;
$gray-dark: #666666;
$gray-gallery: #888888;
$gray-bg: #999999;

$form-color: #565e66;


$font-brand: 'Hind', sans-serif;


/* TRANSITIONS */

$trans-fast: all .25s ease-in-out;
$trans-medium: all .5s ease-in-out;
$trans-slow: all .75s ease-in-out;
